@charset "UTF-8";

/* base */

button,
figure,
input[type="submit"],
input[type="text"],
pre,
table,
textarea,
select {
  box-shadow: 0 .1rem .1rem rgba(0, 0, 0, .25);
}

button,
input,
select,
textarea {
  margin: .5rem 0;
}

button,
input[type="submit"],
input[type="text"],
select option,
textarea {
  padding: .25rem;
}

button,
input[type="submit"],
select {
  background-color: #e0e0e0;
  border: 1px solid #a0a0a0;
  border-radius: 0;
}

button:hover,
input[type="submit"]:hover,
select:hover {
  background-color: #a0a0a0;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"],
textarea {
  background-color: #ffF;
  border: 1px solid #c0c0c0;
  border-radius: 0;
}

input[type="text"]:focus,
input[type="text"]:hover,
textarea:focus,
textarea:hover {
  border: 1px solid #808080;
}

input[type="text"]:hover,
textarea:hover {
  background-color: #F0F0F0;
}

select:focus {
  border: 1px solid #808080;
}

select option {
  background-color: #ffF;
  color: #000;
}

textarea {
  box-sizing: border-box;
  max-width: 100%;
}

/* For Pukiwiki */

.anchor_super,
.note_super {
  font-size: .8rem;
  vertical-align: top;
}

.note_hr {
  display: none;
}

.aside.is-note .note_super:before {
  content: "[";
}

.aside.is-note .note_super:after {
  content: "]";
}

.jumpmenu {
  font-size: .8rem;
  margin-bottom: -2rem;
  text-align: right;
}

.clear {
  clear: both;
}

.diff_added {
  color: #00c000;
}

.diff_removed {
  color: #c00000;
}

.noexists {
  background-color: #ffc0c0;
}

.word0 {
  background-color: #ff8800;
}

.word1 {
  background-color: #8080ff;
}

.word2 {
  background-color: #80ff80;
}

.word3 {
  background-color: #ffff80;
}

.word4 {
  background-color: #80ffff;
}

.word5 {
  background-color: #ff80ff;
}

.word6 {
  background-color: #ffc080;
}

.word7 {
  background-color: #80c0ff;
}

.word8 {
  background-color: #ff80c0;
}

.word9 {
  background-color: #c080ff;
}

/* layout */

body {
  background-color: #ffF;
  color: #000;
  font-family: "游ゴシック体", "游ゴシック", "YuGothic", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  margin: 0;
}

.l-wrap {
  margin: .5rem 1rem;
}

.l-wrap.is-main,
.l-wrap.is-sub {
  margin: 0 1rem;
}

.l-doc a:link {
  color: #00F;
  text-decoration: none;
}

.l-doc a:hover {
  text-decoration: underline;
}

.l-doc a:visited {
  color: #8080ff;
}

.l-doc blockquote {
  border-left: .5rem solid #408040;
  padding: .5rem 1rem;
}

.l-doc dt {
  border-bottom: 1px solid #408040;
  font-weight: bold;
}

.l-doc p {
  line-height: 1.35;
}

.l-doc pre {
  background-color: #c0ffc0;
  padding: 1rem;
}

.l-doc dt,
.l-doc h2,
.l-doc h3,
.l-doc h4,
.l-doc h5,
.l-doc h6 {
  color: #006000;
  padding: .5em;
}

.l-doc h2 a:link,
.l-doc h2 a:visited,
.l-doc h3 a:link,
.l-doc h3 a:visited,
.l-doc h4 a:link,
.l-doc h4 a:visited,
.l-doc h5 a:link,
.l-doc h5 a:visited,
.l-doc h6 a:link,
.l-doc h6 a:visited {
  color: #006060;
}

.l-doc h2,
.l-doc h3 {
  font-size: 1.8rem;
}

.l-doc h4,
.l-doc h5 {
  font-size: 1.4rem;
}

.l-doc h6 {
  font-size: 1rem;
}

.l-doc h2 {
  background-color: #60e060;
}

.l-doc h3 {
  border-left: 1.5rem solid #40c040;
  border-bottom: 3px solid #40c040;
}

.l-doc h4 {
  border-left: 1rem solid #40c040;
}

.l-doc ol,
.l-doc ul {
  padding-left: 1.5rem;
}

.l-doc table {
  border: 1px solid #408040;
  border-collapse: collapse;
}

  .l-doc td,
  .l-doc th {
    padding: .5rem;
  }

  .l-doc td {
    border: 1px solid #408040;
  }

  .l-doc th {
    background-color: #408040;
    color: #ffF;
  }

.l-header {
  position: relative;
}

  .l-header-title {
    background: #60e060 url('header.png') no-repeat center center;
    color: #000;
    box-sizing: border-box;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
    max-height: 10rem;
    padding: 2rem 1rem;
  }

    .l-header h1 a {
      color: inherit;
      text-decoration: none;
    }

    .l-header h1 a:hover {
      text-decoration: underline;
    }

    .l-header-tool {
      background-color: #408040;
      color: #fff;
      padding: .5rem;
    }

.l-main {
  overflow-x: auto;
}

.l-main-content {
  overflow: hidden;
  padding: 1rem;
}

  .l-main-content h2,
  .l-main-content h3,
  .l-main-content h4,
  .l-main-content h5 {
    margin: 2rem -1rem 1rem;
  }

    .l-main-content .aside.is-toc ul {
      margin: 0;
      padding-left: 1rem;
    }

  .l-main-content-header {
    border-bottom: 2px solid #408040;
    margin: 0 -1rem 1rem;
  }

    .l-main-content-header .topicpath {
      margin: 0 .5rem;
    }

    .l-main-content-header .topicpath div {
      margin: 0 0 1rem;
    }

    .l-main-content-header .topicpath a {
      color: #408040;
    }
  
  .l-main-content-footer {
    border-top: 2px solid #408040;
    margin: 1rem -1rem 0;
    padding: 0 1rem; /* あくまで枠を伸ばすだけの目的で */
  }

  .l-main-sidebar {
    background-color: #c0ffc0;
    padding: 1rem;
  }

    .l-main-sidebar h2,
    .l-main-sidebar h3,
    .l-main-sidebar h4,
    .l-main-sidebar h5,
    .l-main-sidebar h6 {
      background-color: #80e080;
      font-size: 1.4rem;
      margin: 2rem -1rem 1rem;
      text-align: center;
    }

    .l-main-sidebar h2:first-child {
      margin-top: -1rem;
    }

    .l-main-sidebar ol,
    .l-main-sidebar ul {
      padding-left: 1rem;
    }

.l-footer {
  font-size: .8rem;
  text-align: center;
}

  .l-footer .l-wrap {
    background-color: #80e080;
  }

  .l-footer-copyright {
    padding: 1rem;
  }

  .l-footer-copyright p {
    margin: .1rem 0;
  }

/* module */

  .topicpath a {
    color: inherit;
    text-decoration: none;
  }

  .topicpath a:hover {
    text-decoration: underline;
  }

.aside,
.contents {
  border-width: 2px;
  border-style: solid;
  margin: 1rem 0;
  padding: 1rem;
}

  .aside:before,
  .contents:before {
    display: block;
    font-weight: bold;
    margin: -.5rem -.5rem 1rem;
    padding: .5rem;
  }

.contents {
  background-color: #c0ffc0;
  border-color: #008000;
}

  .contents:before {
    content: "目次";
    text-align: center;
  }

  .menu a {
    color: inherit;
    text-decoration: none;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

/* state */

.aside.is-note {
  background-color: #ffffc0;
  border-color: #808000;
}

  .aside.is-note:before {
    background-color: #808000;
    color: #ffffc0;
    content: "注釈";
  }

.aside.is-attach {
  background-color: #ffc080;
  border-color: #804000;
}

  .aside.is-attach:before {
    background-color: #804000;
    color: #ffc080;
    content: "添付";
  }

.menu.is-inline .menus {
  display: inline-block;
  margin: 0 .25rem;
}

@media (min-width: 64rem) {
  
  .l-wrap {
    width: 61rem;
    margin: .5rem auto;
  }

  .l-main .l-wrap {
    align-content: stretch;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
  
    .l-main-content,
    .l-main-sidebar {
      box-sizing: border-box;
    }

    .l-main-content {
      flex: 0 0 49rem;
    }

    .l-main-sidebar {
      flex: 0 0 10rem;
    }
    
  .l-main-sidebar input,
  .l-main-sidebar textarea {
    box-sizing: border-box;
    max-width: 8rem;
  }

}

@media (min-width: 96rem) {

  .l-wrap {
    width: 94rem;
  }

  .l-main-content {
    flex-basis: 82rem;
  }

}